<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="net45" />
  <package id="FsWebAddRegistryEntries" version="0.1.1.0" targetFramework="net45" />
  <package id="Http.fs" version="1.5.1" targetFramework="net45" />
  <package id="Nancy" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.Authentication.Forms" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.0.0" targetFramework="net45" />
  <package id="Serilog" version="1.4.139" targetFramework="net45" />
</packages>