<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
        <add name="db" connectionString="Server=.\sql2014;Database=StudyNotes;Trusted_Connection=True;" />
    </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>    
    <customErrors mode="Off" />
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>
  <system.webServer>    
    
    <httpErrors errorMode="Custom" existingResponse="PassThrough" />
  <validation validateIntegratedModeConfiguration="false" /><handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers></system.webServer>
  <appSettings>
      <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>