<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.48.4489.28432" targetFramework="net45" />
  <package id="FsWebAddRegistryEntries" version="0.1.0.0" targetFramework="net45" />
  <package id="Nancy" version="0.17.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.17.1" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.17.1" targetFramework="net45" />
  <package id="SquishIt" version="0.9.7" targetFramework="net45" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net45" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net45" />
</packages>